header, main, footer {
    padding-left: 300px;
  };
  

  button {
      background-color: transparent;
      border: none;
  };
  
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  };




 
